<div class="container-fixed">
  <div class="row">
    <div class="col-9">
      <table>
        <tr>
          <th>Date</th>
          <th>Max Temperature (F)</th>
          <th>Mean Temperature (F)</th>
          <th>Min Temperature (F)</th>
          <th>Mean Humidity</th>
          <th>Mean Visibility (miles)</th>
          <th>Mean Wind Speed (mph)</th>
          <th>Precipitation (in)</th>
          <th></th>
        </tr>
        <% @conditions.each do |condition| %>
        <tr>
          <td><%= condition.date %></td>
          <td><%= condition.max_temperature %></td>
          <td><%= condition.mean_temperature %></td>
          <td><%= condition.min_temperature %></td>
          <td><%= condition.mean_humidity %></td>
          <td><%= condition.mean_visibility %></td>
          <td><%= condition.mean_wind_speed %></td>
          <td><%= condition.precipitation %></td>
          <td><%= link_to 'Edit', edit_admin_condition_path(condition) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
