<h1>Bike trip information based on weather conditions</h1>
<h3>High Temperature Ranges</h3>
<p>The number of rides based on a day's high temperature</p>

<p>100 + degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 100..200) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 100..200) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 100..200) %></p>

<p>90 - 100 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 90..100) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 90..100) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 90..100) %></p>

<p>80 - 90 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 80..90) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 80..90) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 80..90) %></p>

<p>70 - 80 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 70..80) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 70..80) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 70..80) %></p>

<p>60 - 70 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 60..70) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 60..70) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 60..70) %></p>

<p>50 - 60 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 50..60) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 50..60) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 50..60) %></p>

<p>40 - 50 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 40..50) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 40..50) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 40..50) %></p>

<p>30 - 40 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 30..40) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 30..40) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 30..40) %></p>

<p>20 - 30 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 20..30) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 20..30) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 20..30) %></p>

<p>Less than 20 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: -100..20) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: -100..20) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: -100..20) %></p>
