<h1>Bike trip information based on weather conditions</h1>
<h3>High Temperature Ranges</h3>
<p>The number of rides based on a day's high temperature</p>

<p>100 + degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 100..200) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 100..200) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 100..200) %></p>

<p>90 - 100 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 90..100) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 90..100) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 90..100) %></p>

<p>80 - 90 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 80..90) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 80..90) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 80..90) %></p>

<p>70 - 80 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 70..80) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 70..80) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 70..80) %></p>

<p>60 - 70 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 60..70) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 60..70) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 60..70) %></p>

<p>50 - 60 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 50..60) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 50..60) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 50..60) %></p>

<p>40 - 50 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 40..50) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 40..50) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 40..50) %></p>

<p>30 - 40 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 30..40) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 30..40) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 30..40) %></p>

<p>20 - 30 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: 20..30) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: 20..30) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: 20..30) %></p>

<p>Less than 20 degrees: </p>

<p>Most rides in a day for the given temperature range: <%= @conditions.most_rides(max_temperature: -100..20) %></p>
<p>Least rides in a day for the given temperature range: <%= @conditions.least_rides(max_temperature: -100..20) %></p>
<p>Average rides per day in the given temperature range: <%= @conditions.average_rides(max_temperature: -100..20) %></p>

<h3>Rides based on precipitation</h3>
<p>The number of rides for the given preciptation range</p>
<% precipitation_ranges = [[0, 0.5], [0.5, 1], [1, 1.5], [1.5, 2]] %>
<% precipitation_ranges.each do |range| %>
  <p><%= range[0] %> to <%= range[1] %> inches:</p>
  <p>Most rides in a day for the given precipitation range: <%= @conditions.most_rides(precipitation: range[0]..range[1]) %></p>
  <p>Least rides in a day for the given precipitation range: <%= @conditions.least_rides(precipitation: range[0]..range[1]) %></p>
  <p>Average rides per day in the given precipitation range: <%= @conditions.average_rides(precipitation: range[0]..range[1]) %></p>
<% end %>

<h3>Rides based on wind speed</h3>
<p>The number of rides for the given wind speed range</p>
<% wind_speed_ranges = [[0, 4], [4, 8], [8, 12], [12, 16], [16, 20], [20, 24], [24, 28]] %>
<% wind_speed_ranges.each do |range| %>
  <p><%= range[0] %> to <%= range[1] %> miles per hour:</p>
  <p>Most rides in a day for the given wind speed range: <%= @conditions.most_rides(mean_wind_speed: range[0]..range[1]) %></p>
  <p>Least rides in a day for the given wind speed range: <%= @conditions.least_rides(mean_wind_speed: range[0]..range[1]) %></p>
  <p>Average rides per day in the given wind speed range: <%= @conditions.average_rides(mean_wind_speed: range[0]..range[1]) %></p>
<% end %>
