<% if current_user %>
<div class="container-fixed">
  <div class="row">
    <h1>Bike trip information based on weather conditions</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <h1>Rides based on Highest Temperature in a day</h1>
      <p>The number of rides for the given high temperature range </p>
      <% high_temp_ranges = [[90, 100], [80, 90], [70, 80], [60, 70], [50, 60], [40, 50], [0, 40]] %>
      <% high_temp_ranges.each do |range| %>
      <h3><%= range[0] %> to <%= range[1] %> degrees (F):</h3>
      <p>Most rides in a day: <%= @conditions.max_rides(max_temperature: range[0]..range[1]) %></p>
      <p>Least rides in a day: <%= @conditions.min_rides(max_temperature: range[0]..range[1]) %></p>
      <p>Average rides per day: <%= @conditions.average_rides(max_temperature: range[0]..range[1]) %></p>
      <% end %>
    </div>
    <div class="col-4">
      <h1>Rides based on precipitation</h1>
      <p>The number of rides for the given preciptation range</p>
      <% precipitation_ranges = [[0, 0.5], [0.5, 1], [1, 1.5], [1.5, 2]] %>
      <% precipitation_ranges.each do |range| %>
      <h3><%= range[0] %> to <%= range[1] %> inches:</h3>
      <p>Most rides in a day: <%= @conditions.max_rides(precipitation: range[0]..range[1]) %></p>
      <p>Least rides in a day: <%= @conditions.min_rides(precipitation: range[0]..range[1]) %></p>
      <p>Average rides per day: <%= @conditions.average_rides(precipitation: range[0]..range[1]) %></p>
      <% end %>
    </div>

    <div class="col-4">
      <h1>Rides based on wind speed</h1>
      <p>The number of rides for the given wind speed range</p>
      <% wind_speed_ranges = [[0, 4], [4, 8], [8, 12], [12, 16], [16, 20], [20, 24], [24, 28]] %>
      <% wind_speed_ranges.each do |range| %>
      <h3><%= range[0] %> to <%= range[1] %> miles per hour:</h3>
      <p>Most rides in a day: <%= @conditions.max_rides(mean_wind_speed: range[0]..range[1]) %></p>
      <p>Least rides in a day: <%= @conditions.min_rides(mean_wind_speed: range[0]..range[1]) %></p>
      <p>Average rides per day: <%= @conditions.average_rides(mean_wind_speed: range[0]..range[1]) %></p>
      <% end %>
    </div>

    <div class="col-4">
      <h1>Rides based on visibility</h1>
      <p>The number of rides for the given visibility range</p>
      <% visibility_ranges = [[0, 4], [4, 8], [8, 12], [12, 16], [16, 20]] %>
      <% visibility_ranges.each do |range| %>
      <h3><%= range[0] %> to <%= range[1] %> miles of visibility:</h3>
      <p>Most rides in a day: <%= @conditions.max_rides(mean_visibility: range[0]..range[1]) %></p>
      <p>Least rides in a day: <%= @conditions.min_rides(mean_visibility: range[0]..range[1]) %></p>
      <p>Average rides per day: <%= @conditions.average_rides(mean_visibility: range[0]..range[1]) %></p>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render file: "/public/404" %>
<% end%>
