
<div class="container-fixed">
<div class="row">
  <% if current_admin? %>
  <div class="row">
    <%= button_to 'Create Weather Conditions', new_admin_condition_path, method: 'get', class: 'create-button' %>
  </div>
  <% end %>

</div>
  <div class="row">
      <table>
        <tr>
          <th>Date</th>
          <th>Max Temperature (F)</th>
          <th>Mean Temperature (F)</th>
          <th>Min Temperature (F)</th>
          <th>Mean Humidity</th>
          <th>Mean Visibility (miles)</th>
          <th>Mean Wind Speed (mph)</th>
          <th>Precipitation (in)</th>
          <% if current_admin? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
        <% @conditions.each do |condition| %>
        <tr>
          <td><%= link_to condition.date, condition_path(condition) %></td>
          <td><%= condition.max_temperature %></td>
          <td><%= condition.mean_temperature %></td>
          <td><%= condition.min_temperature %></td>
          <td><%= condition.mean_humidity %></td>
          <td><%= condition.mean_visibility %></td>
          <td><%= condition.mean_wind_speed %></td>
          <td><%= condition.precipitation %></td>
          <% if current_admin? %>
            <td><%= button_to 'Edit', edit_admin_condition_path(condition), method: 'get', title: "#{condition.id} edit"  %></td>
            <td><%= button_to 'Delete', admin_condition_path(condition), method: 'delete', title: "#{condition.id} delete" %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <div class="pagination">
        <% @pages.times do |n| %>
        <%= link_to (n + 1).to_s, conditions_path(offset: n) %>
        <% end %>
      </div>
  </div>
</div>
