<div class="container-fixed">
  <div class="row">
    <div class="col-9">
      <table>
        <tr>
          <th>Date</th>
          <th>Max Temperature (F)</th>
          <th>Mean Temperature (F)</th>
          <th>Min Temperature (F)</th>
          <th>Mean Humidity</th>
          <th>Mean Visibility (miles)</th>
          <th>Mean Wind Speed (mph)</th>
          <th>Precipitation (in)</th>
        </tr>
        <% @conditions.each do |condition| %>
        <tr data-href="<%= condition_path(condition) %>">
          <td><a href="<%= condition_path(condition) %>"><%= condition.date %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.max_temperature %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.mean_temperature %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.min_temperature %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.mean_humidity %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.mean_visibility %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.mean_wind_speed %></a></td>
          <td><a href="<%= condition_path(condition) %>"><%= condition.precipitation %></a></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
