<div class="container-fixed">
  <div class="row">
    <div class="col-4">
      <h3><%= @condition.date %></h3>
      <p>Maximum Temperature: <%= @condition.max_temperature %></p>
      <p>Minimum Temperature: <%= @condition.min_temperature %></p>
      <p>Mean Temperature: <%= @condition.mean_temperature %></p>
      <p>Mean Humidity: <%= @condition.mean_humidity %></p>
      <p>Mean Visibility: <%= @condition.mean_visibility %></p>
      <p>Mean Wind Speed: <%= @condition.mean_wind_speed %></p>
      <p>Precipitation: <%= @condition.precipitation %></p>
      <p>Zip Code: <%= @condition.zip_code %></p>
    </div>
  </div>
