
<div class="most-rides">
  <h4>Weather on the day with the most rides:</h4>
  <ul>
    <li>Maximum Temperature: <%= @conditions.most_rides.max_temperature %></li>
    <li>Minimum Temperature: <%= @conditions.most_rides.min_temperature %></li>
    <li>Mean Temperature: <%= @conditions.most_rides.mean_temperature %></li>
    <li>Mean Humidity: <%= @conditions.most_rides.mean_humidity %></li>
    <li>Mean Visibility: <%= @conditions.most_rides.mean_visibility %></li>
    <li>Mean Wind Speed: <%= @conditions.most_rides.mean_wind_speed %></li>
    <li>Precipitation: <%= @conditions.most_rides.precipitation %></li>
    <li>Zip Code: <%= @conditions.most_rides.zip_code %></li>
  </ul>
</div>
<div class="least-rides">
  <h4>Weather on the day with the least rides:</h4>
  <ul>
    <li>Maximum Temperature: <%= @conditions.least_rides.max_temperature %></li>
    <li>Minimum Temperature: <%= @conditions.least_rides.min_temperature %></li>
    <li>Mean Temperature: <%= @conditions.least_rides.mean_temperature %></li>
    <li>Mean Humidity: <%= @conditions.least_rides.mean_humidity %></li>
    <li>Mean Visibility: <%= @conditions.least_rides.mean_visibility %></li>
    <li>Mean Wind Speed: <%= @conditions.least_rides.mean_wind_speed %></li>
    <li>Precipitation: <%= @conditions.least_rides.precipitation %></li>
    <li>Zip Code: <%= @conditions.least_rides.zip_code %></li>
  </ul>
</div>
