<% if current_user %>
  <h2>Trips Dashboard</h2>

  <div class="stations-report">
    <p>Most Starting Rides: <%= @most_starts.name %></p>
    <p>Most Ending Rides: <%= @most_ends.name %></p>
  </div>

  <div class="bikes-report">
    <p>Most Ridden Bike: <%= @bike_metrics[:most_bike][0] %>, <%= pluralize(@bike_metrics[:most_bike][1], 'ride') %></p>
    <p>Least Ridden Bike: <%= @bike_metrics[:least_bike][0] %>, <%= pluralize(@bike_metrics[:least_bike][1], 'ride') %></p>
  </div>

  <div class="weather-report">
    <%= render partial: 'weather' %>
  </div>

  <div class="duration-metrics">
    <p>Longest Ride: <%= link_to @duration_metrics[:longest].id, trip_path(@duration_metrics[:longest].id) %></p>
    <p>Average Ride Duration: <%= @duration_metrics[:average] %> minutes</p>
    <p>Shortest Ride: <%= link_to @duration_metrics[:shortest].id, trip_path(@duration_metrics[:shortest].id) %></p>
  </div>

  <div class="rides-by-date">
    <%= render partial: 'rides_by_date' %>
  </div>
<% else %>
  <%= render file: "/public/404" %>
<% end%>
