<% @trips.each do |trip| %>
  <p>
    Duration: <%= trip.duration %> -
    Start Date: <%= trip.start_date %> -
    Start Station: <%= trip.start_station.name %> -
    End Date: <%= trip.end_date %> -
    End Station: <%= trip.end_station.name %> -
    Bike ID: <%= trip.bike_id %> -
    Subscription Type: <%= trip.subscription_type %> -
    Zip Code: <%= trip.zip_code %>
  </p>
<% end %>

<% @pages.times do |n| %>
  <%= link_to (n + 1).to_s, trips_path(offset: n) %>
<% end %>
