<div class="container-fixed">
  <div class="row">
    <div class="col-5">
      <h1>Log in for the full experience!</h1>
    </div>
  </div>
  <div class="login-row">
    <div class="form">
      <%= form_tag login_path do %>
      <%= label_tag :username %>
      <%= text_field_tag :username %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Login" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3><%= link_to 'CreateAccount', new_user_path, class: "create-button" %></h3>
  </div>
</div>
