<h2>Stations Dashboard</h2>
<% if current_user %>
  <div class="station-stats">
    <h4>Station Stats</h4>
    <ul>
      <li>Total Stations: <%= @total %></li>
      <li>Average Bikes Available: <%= @avg_bikes %></li>
      <li>Most Bikes at a Single Station: <%= @most_bike_stations.first.dock_count %></li>
      <ul>
        <% @most_bike_stations.each do |station| %>
          <li><%= link_to station.name, station_path(station.slug) %></li>
        <% end %>
      </ul>
      <li>Fewest Bikes at a Single Station: <%= @fewest_bike_stations.first.dock_count %></li>
      <ul>
        <% @fewest_bike_stations.each do |station| %>
          <li><%= link_to station.name, station_path(station.slug) %></li>
        <% end %>
      </ul>
      <li>Newest Station: <%= link_to @newest.name, station_path(@newest.slug) %></li>
      <li>Installed: <%= @newest.installation_date %></li>
      <li>Oldest Station: <%= link_to @oldest.name, station_path(@oldest.slug) %></li>
      <li>Installed: <%= @oldest.installation_date %></li>
    </ul>
  </div>
<% end %>
