<% if current_admin? %>
<% end %>
<div class="container-fixed">
  <div class="row">
    <%= link_to 'New Station', new_admin_station_path, class: 'create-button' %>
  </div>
  <div class="row">
      <table>
        <tr>
          <th>Station Name</th>
          <th>Dock Count</th>
          <th>City</th>
          <th>Installation Date</th>
          <% if current_admin? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
        <% @stations.each do |station| %>
          <tr class="table-row" id=<%= "#{station.id}" %> >
            <td><%= link_to station.name, station_path(station.slug) %></a></td>
            <td><%= station.dock_count %></td>
            <td><%= station.city %></td>
            <td><%= station.installation_date %></td>
            <% if current_admin? %>
              <td><%= button_to 'Edit', edit_admin_station_path(station), method: 'get', title: "#{station.id} edit", class: 'create-button'  %></td>
              <td><%= button_to 'Delete', admin_station_path(station), method: 'delete', title: "#{station.id} delete", class: 'delete-button' %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
  </div>
</div>
