<div class="container-fixed">
  <div class="row">
    <div class="col-5-table">
      <table>
        <tr>
          <th>Station Name</th>
          <th>Dock Count</th>
          <th>City</th>
          <th>Installation Date</th>
        </tr>
        <% @stations.each do |station| %>
          <tr>
            <td><%= link_to station.name, station_path(station.slug) %></a></td>
            <td><%= station.dock_count %></td>
            <td><%= station.city %></td>
            <td><%= station.installation_date %></td>
            <% if current_admin? %>
              <td><%= button_to 'Edit', edit_admin_station_path(station), method: 'get', title: "#{station.id} edit"  %></td>
              <td><%= button_to 'Delete', admin_station_path(station), method: 'delete', title: "#{station.id} delete" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
