<div class="container-fixed">
  <div class="row">
    <div class="col-4">
      <h3><%= @station.name %></h3>

      <p>Dock Count:</strong> <%= @station.dock_count %>
      <p>City:</strong> <%= @station.city %>
      <p>Installation Date:</strong> <%= @station.installation_date %>
      <p>Number of rides started at this station: <%= @station.start_count %></p>
      <p>Number of rides ended at this station: <%= @station.end_count %></p>
      <p>Most frequent destination station: <%= @station.most_frequent_destination.name %></p>
      <p>Most frequent origination station: <%= @station.most_frequent_origin.name %></p>
      <p>Greatest number of trips started at this station on <%= @station.most_trips_date %></p>
      <p>Most users have a zip code of <%= @station.most_frequent_zip_code %> that start trips at this station.</p>

      <% if current_admin? %>
        <div class="buttons">
          <%= button_to 'New', new_admin_station_path, method: 'get' %>
          <%= button_to 'Edit', edit_admin_station_path(@station), method: 'get' %>
          <%= button_to 'Delete', admin_station_path(@station), method: 'delete' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
