<div class="container-fixed">
  <div class="row">
    <div class="col-4">
      <h3><%= @station.name %></h3>

      <p>Dock Count:</strong> <%= @station.dock_count %>
      <p>City:</strong> <%= @station.city %>
      <p>Installation Date:</strong> <%= @station.installation_date %>
      <% if current_user %>
        <p>Number of rides started at this station: <%= @station.start_count %></p>
        <p>Number of rides ended at this station: <%= @station.end_count %></p>
        <p>Most frequent destination station:
          <% if @station.start_trips.empty? %>
            N/A
          <% else %>
            <%= @station.most_frequent_destination.name %>
          <% end %>
        </p>
        <p>Most frequent origination station:
          <% if @station.end_trips.empty? %>
            N/A
          <% else %>
            <%= @station.most_frequent_origin.name %>
          <% end %>
        </p>
        <p>Greatest number of trips started at this station on
          <% if @station.start_trips.empty? %>
            N/A
          <% else %>
            <%= @station.most_trips_date %>.
          <% end %>
        </p>
        <p>Most frequent user zip code:
          <% if @station.start_trips.empty? %>
            N/A
          <% else %>
             <%= @station.most_frequent_zip_code %>
          <% end %>
        </p>
        <p>Most used bike at this station:
          <% if @station.start_trips.empty? %>
            N/A
          <% else %>
             Bike #<%= @station.most_used_bike %>
          <% end %>
        </p>
      <% end %>

      <% if current_admin? %>
        <div class="buttons">
          <%= button_to 'New', new_admin_station_path, method: 'get' %>
          <%= button_to 'Edit', edit_admin_station_path(@station), method: 'get' %>
          <%= button_to 'Delete', admin_station_path(@station), method: 'delete' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
