<div class="container-fixed">
  <div class="row">
    <div class="col-5">
      <table>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Edit?</th>
          <th>Change Status?</th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <td>
              <div class="table-image">
                <%= image_tag asset_path (item.image) %>
              </div>
            </td>
            <td><%= item.title %></td>
            <td><%= item.description %></td>
            <td><%= "$#{'%.2f' % item.price}" %></td>
            <td><%= item.status %></td>
            <td>
              <%= link_to "Edit #{item.title}", admin_path(item) %>
            </td>
            <td>
              <% if item.retired? %>
                <%= link_to "Reactivate Accessory", admin_path(item, status: "retired"), method: "put", data: {confirm: "Are you sure you want to reactivate #{item.title}?"} %>
              <% else %>
                <%= link_to "Retire Accessory", admin_path(item, status: "active"), method: "put", data: {confirm: "Are you sure you want to retire #{item.title}?"} %>
              <% end %>
            </td>
          </tr>
          <% end %>
    </table>
  </div>
</div>
