<%= form_for @user do |f| %>
<table>
  <tr>
    <td><%= f.label :name, @user.name %></td>
    <td><%= f.text_field :name %></td>
  </tr>

  <tr>
    <td><%= f.label :username, @user.username %></td>
    <td><%= f.text_field :username %></p></td>
  </tr>

  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
  </tr>

  <tr>
    <td></td>
    <td><%= f.submit 'Create/Update Account', class: "create-button" %></td>
  </tr>
<% end %>
