<ul class='cards-container'>
  <% @items.each do |item| %>
    <% if item.status == 'active' %>
      <%= link_to item_path(item) do %>
        <li class='card'>
          <div class="card-image-container">
              <div class="card-image">
                <%= image_tag asset_path item.image %>
              </div>
          </div>
          <div class="card-bottom">
              <h3><%= item.title %></h3>
              <p> Price: <%= "$#{'%.2f' % item.price}" %> </p>
              <%= button_to "Add to Cart", cart_path(item_id: item.id), title: item.title %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
