<%= form_for [:admin, @trip] do |f| %>
  <div class=''>
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class=''>
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </div>

  <div class=''>
    <%= f.label :start_station_id %>
    <%= f.collection_select :start_station_id, @stations, :id, :name %>
  </div>

  <div class=''>
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </div>

  <div class=''>
    <%= f.label :end_station_id %>
    <%= f.collection_select :end_station_id, @stations, :id, :name %>
  </div>

  <div class=''>
    <%= f.label :bike_id %>
    <%= f.number_field :bike_id %>
  </div>

  <div class=''>
    <%= f.label :subscription_type %>
    <%= f.text_field :subscription_type %>
  </div>

  <div class=''>
    <%= f.label :zip_code %>
    <%= f.number_field :zip_code %>
  </div>

  <div class=''>
    <%= f.submit %>
  </div>
<% end %>
