<div class="container-fixed">
  <div class="row">
    <div class="col-4">
      <ul>
        <li class='item-image'><%= image_tag asset_path @item.image %></li>
        <li><%= @item.title %></li>
        <li><%= @item.description %></li>
        <li><%= "$#{'%.2f' % @item.price}" %></li>
        <% if @item.status == 'retired' %>
          <h4>Accessory Retired!<h4>
        <% else %>
          <%= button_to "Add to Cart", cart_path(item_id: @item.id) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
